body {
    background-color: black;
    font-family: sans-serif;
}
.clk {
    color: white;
    font-size: 40px;
    text-align: center;
}
p {
    text-align: center;
    color: white;
}
#forecastLabel {
    color: white;
    text-align: center;
}
.cold {
    background-color: #95A5A6;
}
.chilly {
    background-color: #1ABC9C;
}
.nice {
    background-color: #2980B9;
}
.warm {
    background-color: #E67E22;
}
.hot {
    background-color: #E74C3C;
}
