h2 {
    color:#777;
    margin-top:0px;
}
.hide {
    display:none;
}
.button {
    display:block;
    margin:10px auto;
    width:100px;
    padding:10px 10px;
}
.flexable {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: nowrap;
}
/********** The container that holds the alarm section *********/
#alarmContainer {
    width:500px;
    margin:0px auto;
    background:#ecf0f1;
    color:#777;
    padding:20px;
}
#alarmHeader {
    position:relative;
    border-bottom:1px solid #ccc;
}
#alarmHeader h2 {
    justify-content:flex-end;
}
#alarmHeader input {
    position:absolute;
    right:0px;
    margin:5px;
}
#alarms {
    margin-top:20px;
}
/********** The black transparent mask when adding an alarm clock *********/
#mask {
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    top:0;
    left:0;
}
/********** The white popup container when adding an alarm clock *********/
#popup {
    position:absolute;
    top:45%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width:250px;
    z-index:1;
    background-color:white;
    border:1px solid #ccc;
    border-radius:5px;
    padding:20px;
}
#popup h2 {
    width:100%;
    text-align:left;
    border-bottom:1px solid #ccc;
}
#popup .button {
    margin:0px 10px;
}
#popup #alarmName {
    width:90%;
    font-size:14px;
    margin:10px auto 25px auto;
}
